*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
.head{
max-width: 100vw;min-height: 100vh;
overflow-x: hidden;

    margin: 0 auto;
}
.header{
    max-width:1400px ;height: 80px;background-color: rgb(20, 20, 19);display: flex;
    justify-content:space-evenly;align-items: center;gap: 2em;position: fixed;
    left: 0;right: 0;z-index: 1;
    
}
.header h1{
    font-size: 40px;color: white;margin-left: 30px;
    
}
.header span{
    color: rgb(41, 228, 41);padding-left: 0;
}
.header a{
    text-decoration: none;color: white;display: block;
    display: flex;gap: 1em;
    justify-items: space-between;align-content: center;
}
:hover a{
    color: green;
}
.home{
    max-width: 1400px;min-height: 650px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw-CYe5FSaDVIgs2Ypumg_PJ6XdQU2WR8Fww&s);
    background-size: cover;
    display: flex;justify-content: space-evenly;align-items: center;padding-top: 80px;
}
.home .para1 {
    width: 49%;
}
.home.img1{
    width: 49%;
}
#h1{
    color: rgb(192, 189, 189);
}
.home .para1 h1{
    color: rgb(121, 116, 116);font-size: 50px;padding-left: 50px;
}
.home .para1 p{
    color: rgb(122, 119, 119);display: flex;justify-content: center;
    padding-left: 50px;padding-top: 30px;
}
.btn1{
    width: 170px;height: 50px;background-color: transparent;
    color: green;border: 1px solid green;border-radius: 5px;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 16px;
    margin-right: 10px;
}
:hover .btn1{
    background-color:green;color: white;
}
.btn2{
    width: 170px;height: 50px;color: white;
    background-color: green;border-radius: 5px;
    border: 1px ;font-size: 16px;
    margin-left: 10px;
}
:hover .btn1{
}
.home .img1{
    width: 50%;
    padding-left: 40px;
    position: relative; 
    animation: bounce 2s infinite; 
}
@keyframes bounce {
        0%, 100% {
            transform: translateY(0);
            animation-timing-function: ease-in;
        }
        50% {
            transform: translateY(40px);
            animation-timing-function: ease-out;
        }
    }

.para04{
   max-width:1400px ;height: 100px;padding-top: 150px;
}
.para04 h1{
    color: black;font-weight: bolder;
    margin: 0 auto;
    padding-left: 480px;
    
}
.para04 h1 span{
    color: green;
}

.para04 p{
padding-top: 30px;
padding-left: 350px;
}
.img2{
       max-width:1400px ;min-height: 650px;display: flex;
       justify-content: space-evenly;

}

.img2 img{
    width: 50%;display: inline-block;
    box-shadow: 50px;
    height: 600px;
        padding-top: 200px;

    position: relative;  
     animation: bounce 2s infinite; 
}

.para3
{
    width: 45%;  display: inline-block;padding: 10px;padding-left: 70px;
    padding-top: 200px;
}
.para3 p{
    color: rgb(143, 135, 135);
}


.home3{
          max-width:1400px ;min-height: 650px;
                    background-image: url(https://c4.wallpaperflare.com/wallpaper/490/677/243/usa-skyscrapers-backgrounds-night-building-wallpaper-thumb.jpg) ;
 background-size: cover;
 margin-top: 100px;
 padding-top: 50px;
}
.home3 h1{
padding-left: 350px;
font-weight: bolder;
color: white;
padding-top: 10px;
}
.home3 p{
    padding-left: 230px;color: white;
}
.home3 .card{
    min-height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.card1{width: 400px;
        color: white;
            font-size: 80px;
padding-top: 50px;
padding-left: 100px;}
.card1 b{
    display: block;
}
.card p{width: 200px;
    font-size: 20px;
    padding-left: 10px;
    padding-top: 30px;
    font-weight: bold;
}
   
.card2{width: 400px;
        color: white;
            font-size: 80px;
padding-top: 50px;
padding-left: 80px;
}
.card2 b{
    display: block;
}
.card3{width: 400px;
        color: white;
            font-size: 80px;
padding-top: 100px;
padding-left: 100px;
}
.card3 b{
    display: block;
}
.home4 h1{
padding-left: 400px;
padding-top: 40px;
font-size: 50px;
font-weight: bold;
font-variant-caps: all-petite-caps;
}
 span{
    color: green;
}

.para05{
   max-width:1400px ;height: 100px;padding-top: 150px;
}
.para05 h1{
    color: black;font-weight: bolder;
    padding-left: 480px;
    color: rgb(120, 114, 114);
    padding-top: 80px;
}
.para05 h1 span{
    color: rgb(171, 176, 171);
}

.para05 p{
padding-top: 30px;
padding-left: 350px;
color: rgb(197, 187, 187);
}
.img0{
       max-width:1400px ;min-height: 400px;display: flex;
       justify-content: space-evenly;padding-top: 250px;
       background-color: black;

}
.img0 .bold{padding-top: 200px;
}
.img0 p{
    width: 350px;
    padding-top: 10px;
    color:gray;
}
.img0 img{
    width: 50%;display: inline-block;
    box-shadow: 50px;
    height: 500px;

    position: relative;  
     animation: bounce 2s infinite; 
}

.home5{width: 100vw;
    min-height: 300px;
                        background-image: url(https://c4.wallpaperflare.com/wallpaper/490/677/243/usa-skyscrapers-backgrounds-night-building-wallpaper-thumb.jpg) ;
 background-size: cover;padding-top: 50px;

}
.home5 h1{
    color:white;
    padding-left: 380px;
    font-variant-caps: all-petite-caps;
font-weight: bold;
}
.home5 p{
    color:white;
    width: 950px;
    padding-left: 150px;
}
.btn3{
    width: 170px;height: 50px;color: white;
    background-color: green;border-radius: 5px;
    border: 1px ;font-size: 16px;
    margin-left: 150px;
}
.gallery{
    width: 100vw;
    min-height: 500px;
    margin-top: 100px;
}
.gallery .heading{
    width: 100vw;
    height: 200px;
    align-items: center;display: flex;justify-content: center;
}
.heading h1{
    font-size: 70px;
font-weight: bold;
    color: green;

}
.heading h1 i{
    color: black;
}
.image1{
    display: flex;justify-content: space-evenly;flex-wrap: wrap;
    padding: 2px; 
}
 .image1 img{
    width:210px;
    height: 230px;
    display: inline-block;
    border-radius: 46px 46px 46px 46px ;
    border: 10px solid black;
    padding: 5px;
}

.input{
    width: 100vw;
    min-height: 700px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSw-CYe5FSaDVIgs2Ypumg_PJ6XdQU2WR8Fww&s);
    background-size: cover;
margin-top: 100px;
display: flex;justify-content: space-around;flex-wrap: wrap;
align-items: center;
}
.input .form{
    width: 500px;
    min-height: 400px;
    background-color: rgb(8, 8, 9);
    margin: 10px;
    padding:40px;
    color: white;
}
.form li{
    list-style: none;
    padding-top: 20px;
    color: grey;
    border-bottom: 1px solid white;
    padding-bottom: 15px;

}
.btn{
    width: 160px;min-height: 40px;color: white;
    background-color: green;border-radius: 5px;
    border: 1px ;font-size: 16px;
    margin-left: 50px;
    margin-top: 20px;
}

.input .contact{
        width: 500px;
        height: 400px;
        background-color:white;
    color:black;
    padding: 50px;
}
.contact h2{
    font-weight: bold;
}
.contact p{
color: grey;
}
.servises{
    width: 100vw;
    min-height: 600px;
    background-color: black;
    display: flex;justify-content: space-evenly;
    align-items: center;flex-wrap: wrap;gap: 5px;
}
.servises .item1{
    width: 250px;
    min-height: 400px ;
}
.item1 h1{
    color: white;
}
.item1 a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px;
        padding-left: 5px;

}
.item1 a i{
    padding-left: 5px;
}
.item1 i{
    color: green;
}
@media(max-width:1000px){
.img2 img{
    flex-direction: column;
}
.img2 .para3{
    flex-direction: column;
    width: 100%;
}
.para4 h2{
                    padding-left: 300px;
                    margin: 0 auto;

}
.para4 p{
                    padding-left: 200px;
                    margin: 0 auto;
                    padding-top: 30px;

}
.home4 h1{
    padding-left: 250px;
}
.home05 h1{    padding-left: 250px;
}
.home5 p{
        padding-left: 100px;

}
.btn3{
    margin-left: 100px;
}
.para05 h1{
    padding-left: 320px;
}
.para05 p{
      padding-left: 200px;
}
.img0{
    flex-direction: column;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.para5 p{
        padding-left: 50px;
        width: 300px;

}
}



@media(max-width:900px){
    .para04 h1{
        padding-left: 300px;
    }
    .para04 p{
                padding-left: 200px;

    }

.home3 h1{
    padding-left: 230px;
}
.home3 p{
    padding-left: 100px;
}
.home05 h1{    padding-left: 150px;
}
.home5 p{
        padding-left: 100px;}
        .home5 h1{
            padding-left: 200px;
        }
}

@media(max-width:850px){
    .btn1 {
        margin-top: 30px;
    }
        .btn2 {
        margin-top: 30px;
    }

}

@media(max-width:800px)
{
    .header {
        flex-direction: column;
    }
    .header a{
        visibility: hidden;
    }
    .home{
        flex-direction: column;
    }
        .home h1{
        font-size: 20px;display: inline-block;
    }

    .para1 h1 p{
        width: 90%;
    }
    .img1{
        width: 90%;
    }
    .para04 h1
    {
        padding-left: 200px;

    }
    .para04 p{
        padding-left: 100px;
    }
    .para h2{
                padding-left: 200px;

    }
    .para4 p{
                padding-left: 100px;

    }
    .home4 h1{
    padding-left: 100px;
}
.home05 h1{    margin-left: 150px;
}
.home5 p{
        padding-left: 100px;
}
.home3{
    padding-left: 200px;
}
    .home3 h1{
    padding-left: 30px;
}
    .home3 p{
    padding-left: 2px;width: 500px;
    padding-top: 10px;
}
.para05 h1{
    padding-left: 250px;
}
.para05 p{
      padding-left: 130px;
  }


}
@media(max-width:750px){
    .img2{
        flex-direction: column;
    }
    .img2 .para3{
        flex-direction:column;
        width: 90%;
    }
    .img2 img{
        flex-direction:column;
        width: 90%;
    }
    .para4 p{padding-left: 100px;}

.para4 h2{
    padding-left:200px ;}
}
@media(max-width:700px)
{
    .para04 p{
        padding-left:50px ;
    }
    .home3 h1{
    padding-left: 100px;
}
.home3 p{
    padding-left: 50px;
}
.home4 h1{
    padding-left: 20px;
}

.home05 h1{    padding-left: 100px;
}
.home5 p{
        padding-left:50px;

}
.img0{
    flex-direction: column;
}
.btn3{
    margin-left: 10px;
}
.home3{
    padding-left: 100px;
}
    .home3 h1{
    padding-left: 10px;
}
    .home3 p{
width: 400px;
}
.para05 h1{
    padding-left: 180px;
}
.para05 p{
      padding-left: 100px;
  width: 500px;
}
.para05 .bold{
align-items: center;}
.btn3{
    margin-left: 100px;
}
}
@media(max-width:500px){
    .para04 h1{
        padding-left: 100px;
    }
    .para4 h2{
        padding-left: 100px;
    }
    .para4 p{
        padding-left: 80px;
    }
    .home3 h1{
    padding-left: 30px;
}
.home3 p{
    padding-left: 10px;
}
.home3{
    padding-left: 70px;
}
    .home3 h1{
    padding-left: 5px;
}
.home5 h1{    padding-left:90px;
}

}
